/*-- scss:defaults --*/

$presentation-heading-color: #88b0ba;
$body-color: #cacf48;

/*-- scss:rules --*/

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  font-size: 0.35em !important;
  text-align: right !important;
}

