/*-- scss:defaults --*/

// layout
$presentation-slide-text-align: left;
$presentation-title-slide-text-align: right;

/*-- scss:rules --*/

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  font-size: 0.35em !important;
  text-align: right !important;
}

/* title , getting right alignment */
.reveal .slides section.quarto-title-block {
  text-align: right;
  .subtitle {
    margin-bottom: 2.5rem;
  }
}
